{% extends "emails/base.jinja" %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-body">
    <tr>
        <td>
            <h1>Project dump generated:</h1>
            <p>Hello {{ user.get_full_name() }},</p>
            <p>your project dump has been correctly generated.</p>
            <p>You can download it from here: <a style="color: #669900;" href="{{ url }}">{{ url }}</a></p>
            <p>This file will be deleted after {{ deletion_date|naturaltime }}.</p>
            <p>Regards</p>
            <p>--<br />The Taiga Team</p>
        </td>
    </tr>
</table>
{% endblock %}

{% block footer %}
<p style="padding: 10px; border-top: 1px solid #eee;">
    More info at:
    <a href="{{ url }}" style="color: #666;">{{ project.name }}</a>
</p>
{% endblock %}
