Hello {{ user.get_full_name() }},

your project dump has been correctly generated. You can download it from here:

{{ url }}

This file will be deleted after {{ deletion_date|naturaltime }}.

Regards

--
The Taiga Team
