{% extends "emails/base.jinja" %}

{% block body %}
    <h1>Feedback</h1>
    <p>Taiga has received feedback from {{ feedback_entry.full_name }} [{{ feedback_entry.email }}]</p>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
        <tr>
            <td colspan="2" valign="top" class="bodyContent">
                <h3>Comment</h3>
                <p>{{ feedback_entry.comment|linebreaks }}</p>
            </td>
        </tr>
        {% if extra %}
        <tr>
            <td valign="top" style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
                <strong>Extra:</strong>
            </td>
            <td style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
                <dl>
                    {% for k, v in extra.items() %}
                    <dt>{{ k }}</dt>
                    <dd>{{ v }}</dd>
                    {% endfor %}
                </dl>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}
